<!doctype html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>React Calendar</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div id="root" className="root"></div>
    <script type="text/javascript" src="/static/js/main.bundle.js"></script>
  </body>
</html>
