<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>React Calendar</title>
  </head>
  <body>
    <div id="main-container"></div>
    <script type="text/javascript" src="/static/bundle/main.bundle.js"></script>
  </body>
</html>
