@import "./bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "mixins.scss";
@import "variables.scss";
@import "clock.scss";

body {
	background-color: #f5f5f5;
	font-family: 'Segoe UI', Tahoma, sans-serif;
}

.hidden {
  display: none;
}

.absolute {
  position: absolute;
}

.invalid-date, .invalid-input {
  border-color: red;
}

.invalid-field-message, .submission-error-message {
	color: red;
}

.button:hover{
  cursor: pointer;
}

.btn-event {
	margin-right: 2px;
}

.mern-stack, .github {
	font-weight: bold;
}

.page-not-found {
	text-align: center;
}

.root {
  width: 100%;
}

.header {
  background-color: #614789;
  text-align: center;
  padding: 10px;
	width: 100;
}

.header a {
  text-decoration: none;
  color: #bc7dff;
  font-size: 48px;
}

.footer {
	text-align: center;
	padding: 20px;
}

.main-container {
  margin: 0 auto;
  display: table;
}

.calendar-menu {
  display: table;
  margin: 20px auto;
}

.calendar-menu-inner {
  margin: 2px auto;
}

.no-event-container {
	text-align: center;
	font-size: 16px;
}

.event-list-menu {
  padding: 15px 30px 15px 30px;
  margin: 0 auto;
  min-width: 420px;
  border: solid;
  border-color: #000000;
  border-width: 5px;
}

.event-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

.date-span {
  padding-right: 10px;
  font-weight: bold;
}

.event-list>li>a {
  text-decoration: none;
  color: #000000;
}

.react-navbar {
  width: 100%;
  margin-bottom: 10px;
  background-color: $react-navbar-li-background-color;
}

.react-navbar-ul {
  margin: 0;
  padding: 0;
}

.react-navbar-li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: $react-navbar-li-background-color;
  color: $react-navbar-li-color;
  font-weight: bold;
  cursor: pointer;
}

.react-navbar-li a {
  text-decoration: none;
  color: $react-navbar-li-color;
}

.react-navbar-li:hover, .active {
  background-color: $on-hover-react-navbar-li-background-color;
}

.event-table-container {
	margin: 20px 0 20px 0;
}

.event-detail {
	padding: 15px 30px 15px 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: solid;
	border-color: #000000;
	border-width: 5px;
}

.event-field-name, .event-field-value {
	padding: 7px 0 7px 0;
}

.event-field-name {
	font-weight: bold;
	width: 30%;
}

.event-field-value {
	width: 70%;
}

.form-container {
	padding: 20px;
}

.event-form {
	margin-top: 10px;
}

.day-div {
  @include day-div-style;
  border-radius: 50%;
}

.day-div:hover {
  background-color: $on-hover-background-color;
  color: $on-hover-text-color;
  cursor: pointer;
}

.today-div {
  @extend .day-div;
  @include today-div-color-style;
  border: solid $today-text-color;
  border-width: 1px;
}

.out-of-month-div {
  @extend .day-div;
  color: $outta-month-text-color;
}

.sunday {
  color: $sunday-color;
}

.pre-selected-div {
  @extend .day-div;
  background-color: $pre-selected-background-color;
  color: #ffffff;
}

.week-name-div {
  @include day-div-style;
}

.week-name-div:hover {
  cursor: default;
}

.month {
  display: inline-block;
  width: $month-div-width;
}

.month-header {
  @include datetime-picker-text-style;
  width: 60%;
  display: inline-block;
}

.right-left-button {
  @extend .button;
  @include calendar-button-font-style;
  width: 10%;
  display: inline-block;
}

.up-down-button {
  @extend .button;
  @include calendar-button-font-style;
  text-align: center;
}

.toggleButton {
  @extend .button;
  width: 100%;
  text-align: center;
  padding: 4px;
}

.toggleButton:hover {
  background-color: $on-hover-background-color;
  color: $on-hover-text-color;
}

.calendar-header {
  text-align: center;
  margin-bottom: 5px;
}

.custom-input-text {
  @include input-font-style;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.custom-textarea {
  @include input-font-style;
}

.home-date-input {
  @include input-font-style;
  text-align: center;
  min-width: $month-div-width + 10px;
}

.input-time {
  @include datetime-picker-text-style;
  text-align: center;
}

.selector, .separator {
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
}

.separator {
  font-weight: bold;
}

.time-container {
  padding: 12px;
}

.time-wrapper {
  border: solid black;
  border-width: 1px;
  background-color: #ffffff;
}

.calendar-container {
  padding: 5px;
}

.calendar-wrapper {
  display: inline-block;
  border: solid black;
  border-width: 1px;
  background-color: #ffffff;
}

.input-container {
  margin: 2px;
  display: inline-block;
}

.datepicker {
  display: table;
}

.create-button-container {
  margin-bottom: 5px;
}
