$sunday-color: #d23f31;
$today-text-color: #6495ed;
$pre-selected-text-color: #ffffff;
$pre-selected-background-color: #6495ed;
$outta-month-text-color: rgba(0, 0, 0, .5);
$on-hover-text-color: #ffffff;
$on-hover-background-color: #6495ed;
$day-div-width: 32px;
$day-div-height: 32px;
$month-div-width: $day-div-width * 7 + 2px;
$react-navbar-li-background-color: #f2f2f2;
$react-navbar-li-color: rgba(0, 0, 0, .7);
$on-hover-react-navbar-li-background-color: #e3e3e3;
$on-hover-react-navbar-li-color: rgba(0, 0, 0, .7);
