$sunday-color: red;
$today-text-color: #6495ed;
$pre-selected-text-color: #ffffff;
$pre-selected-background-color: #6495ed;
$outta-month-text-color: rgba(0, 0, 0, .5);
$on-hover-text-color: #ffffff;
$on-hover-background-color: #6495ed;
$day-div-width: 32px;
$day-div-height: 32px;
$month-div-width: $day-div-width * 7 + 2px;
